@import '/src/styles/include.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: .5em;
}

.raceLists {
  display: flex;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .75rem;

  &.alliance {
    background-color: var(--color-blue-200);
  }

  &.horde {
    background-color: var(--color-red-200);
  }
}