@import '/src/styles/include.scss';

.wrapper {
  position: relative;
}

.list {
  display: flex;
  gap: 1rem;
}

.radio {
  @include visually-hidden();

  &:checked {
    & + .icon {
      border-color: var(--color-yellow-500);
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &:not(:disabled):not(:checked) + .icon {
    cursor: pointer;
  }
}

.disabledLayer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, .75);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: black;
  font-size: .6875rem;
  border: 2px solid transparent;
  color: white;
  border-radius: .25em;
  box-shadow: 0 0 .5em .125em rgba($color: #000000, $alpha: 0.375);
}