@import '/src/styles/include.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: .5em;
}

.list {
  display: flex;
  gap: 1rem;
}

.radio {
  @include visually-hidden();

  &:checked {
    & + .icon {
      border-color: var(--color-yellow-500);
    }
  }

  &:disabled {
    & + .icon {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(black, .75);
      }
    }
  }

  &:not(:disabled):not(:checked) + .icon {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: black;
  font-size: .6875rem;
  border: 2px solid transparent;
  color: white;
  border-radius: .25em;
  box-shadow: 0 0 .5em .125em rgba($color: #000000, $alpha: 0.375);
}