@import '/src/styles/include.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: .5em;
}

.list {
  display: flex;
  gap: 1rem;
}