.wrapper {
  display: grid;
  grid-template: auto / 1fr 4fr 1fr;
  gap: 1rem;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &Footer {
    display: flex;
  }
}